/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f0f8ff;
    color: #2c3e50;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(90deg, #0077b6, #00b4d8);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.back {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.back:hover {
    opacity: 0.8;
}

/* HERO */
.hero {
    height: 65vh;
    background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://tse3.mm.bing.net/th/id/OIP.YoWLkUvdFvwXxg6rl5fhLAHaEK?pid=Api&P=0&h=180") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.hero p {
    font-size: 1.2rem;
}

/* SECTION */
.section {
    padding: 70px 10%;
    text-align: center;
}

.section h2 {
    color: #0077b6;
    margin-bottom: 20px;
    font-size: 2rem;
}

.section p {
    max-width: 700px;
    margin: auto;
    color: #555;
}

/* ALT BACKGROUND */
.alt {
    background: linear-gradient(to right, #e0f7fa, #ffffff);
}

/* GRID */
.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    border-bottom: 5px solid #00b4d8;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* IMAGE */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* TEXT */
.card h3 {
    color: #0077b6;
    margin: 10px 0;
}

.card p {
    padding: 0 10px 15px;
    font-size: 0.9rem;
}

/* LIST */
.list {
    list-style: none;
    margin-top: 20px;
}

.list li {
    padding: 10px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.list li:hover {
    color: #00b4d8;
    transform: scale(1.05);
}

/* FOOTER */
.footer {
    background: #023e8a;
    color: #ccc;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .navbar {
        padding: 10px 20px;
    }
}